<div class="social-row">
    {%- if site.email -%}
    <a href="mailto:{{ site.email | cgi_escape | escape }}" title="{{ site.email | escape }}">
        <svg class="svg-icon mail" width="24px" height="24px" viewBox="0 0 24 24">
            <use xlink:href="{{ '/assets/material.svg#mail' | relative_url }}"/>
        </svg>
    </a>
    {%- endif -%}

    <a href="/feed.xml" title="RSS subscribe">
        <svg class="svg-icon" viewBox="-4 -2 20 20">
            <use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"/>
        </svg>
    </a>

    {%- if site.github_username -%}
    <a href="https://github.com/{{ site.github_username | cgi_escape | escape }}" title="{{ site.github_username | escape }}">
        <svg class="svg-icon">
            <use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"/>
        </svg>
    </a>
    {%- endif -%}

    {%- if site.linkedin_user -%}
    <a href="https://linkedin.com/in/{{ site.linkedin_user | cgi_escape | escape }}" title="{{ site.linkedin_user | escape }}">
        <svg class="svg-icon">
            <use xlink:href="{{ '/assets/minima-social-icons.svg#linkedin' | relative_url }}"/>
        </svg>
    </a>
    {%- endif -%}
</div>